a{
    color: white;
    text-decoration: none;
}

nav{
    background-color: #5D1212;
    padding: 0 4rem;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    ul{
        margin: 0;
        padding: 1rem 0;
        display: flex;
        list-style-type: none;
        justify-content: space-between;
        li{
            height: min-content;
        }
    }
}