h1 {
  text-transform: capitalize;
  font-size: 4rem;
  font-weight: 400;
  color: #1E1E1E;
}

h3 {
  margin: 0 0 2rem 0;
  font-family: "Inter";
  font-size: 1.25rem;
  text-transform: uppercase;
  color: #E3C9A4;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.5rem;
}

nav {
  background: white;
}
nav a {
  color: #1E1E1E;
}

.hero {
  margin-top: 4rem;
  background: #5D1212;
  display: flex;
  justify-content: space-between;
  padding: 2rem 4rem;
}
.hero .left {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.hero .right {
  width: 50%;
  text-align: center;
  color: white;
}
.hero .right h1 {
  color: white;
  margin: -1rem 0 -1.4rem 0;
}
.hero .right p {
  margin-bottom: 4rem;
}

.servicos {
  text-align: center;
  margin: 0 4rem;
}
.servicos h1 {
  margin: 2rem;
}
.servicos .about-servicos {
  margin: 2rem auto;
  width: 80%;
}
.servicos .banners {
  display: flex;
  justify-content: space-between;
}
.servicos .banners img {
  margin-top: -4rem;
  margin-bottom: -6rem;
  opacity: 20%;
}
.servicos .banners h2 {
  font-family: "Dancing Script";
  text-transform: capitalize;
  font-size: 3rem;
  color: #E3C9A4;
}
.servicos .banners p {
  color: white;
}
.servicos .banners .serv1 {
  background: rgba(93, 18, 18, 0.4);
  padding: 2rem 1rem;
  margin: 0.5rem;
  width: 30%;
}
.servicos .banners .serv1 h2 {
  color: #89550A;
}
.servicos .banners .serv1 p {
  color: #1E1E1E;
}
.servicos .banners .serv2 {
  background: rgba(93, 18, 18, 0.6980392157);
  padding: 2rem 1rem;
  margin: 0.5rem;
  width: 30%;
}
.servicos .banners .serv3 {
  background: #5D1212;
  padding: 2rem 1rem;
  margin: 0.5rem;
  width: 30%;
}

.sobre-mim {
  background: #5D1212;
  padding: 1rem 4rem;
}
.sobre-mim h1 {
  color: #E3C9A4;
  margin-bottom: 0;
  text-align: center;
}
.sobre-mim .sobre-mim-inner {
  display: flex;
  justify-content: space-between;
  padding-bottom: 4rem;
}
.sobre-mim .sobre-mim-inner .left {
  width: 60%;
  text-align: center;
  color: white;
}
.sobre-mim .sobre-mim-inner .left .vertical-align {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sobre-mim .sobre-mim-inner .left .vertical-align .sobre-mim-text {
  margin: 0 auto;
  text-align: justify;
  width: 70%;
}
.sobre-mim .sobre-mim-inner .left .content {
  margin: 2rem auto;
}
.sobre-mim .sobre-mim-inner .right {
  width: 40%;
  display: inline-flex;
  justify-content: center;
  align-items: center;
}
.sobre-mim .sobre-mim-inner .right img {
  width: 100%;
}

.artigos {
  text-align: center;
  margin: 1rem 4rem;
}
.artigos .banners-artigos {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}
.artigos .ver-todos {
  background: rgba(93, 18, 18, 0.4);
  width: -moz-fit-content;
  width: fit-content;
  padding: 0.5rem 1rem;
  border-radius: 3.125rem;
  margin: 0 auto 4rem auto;
}
.artigos .ver-todos p {
  font-size: 1.5rem;
  color: #1E1E1E;
  margin: 0;
  padding: 0;
}

@media screen and (max-width: 700px) {
  #root {
    width: -moz-fit-content;
    width: fit-content;
  }
}
@media screen and (max-width: 500px) {
  h1 {
    font-size: 2.5rem;
  }
  .hero {
    justify-content: center;
  }
  .hero .left {
    display: none;
  }
  .hero .right {
    width: 100%;
  }
  .hero .right img {
    width: 5rem;
  }
  .hero .right h3 {
    font-size: 1rem;
    margin-top: 0.2rem;
  }
  .hero p {
    font-size: 0.8rem;
  }
  .servicos h1 {
    margin: 1rem;
  }
  .servicos .banners {
    display: block;
  }
  .servicos .banners .serv1 {
    width: -moz-fit-content;
    width: fit-content;
  }
  .servicos .banners .serv2 {
    width: -moz-fit-content;
    width: fit-content;
  }
  .servicos .banners .serv3 {
    width: -moz-fit-content;
    width: fit-content;
  }
  .servicos .banners img {
    width: 5rem;
    margin-bottom: -4rem;
  }
  .servicos .banners h2 {
    font-size: 2rem;
    margin-top: 1rem;
  }
  .servicos .banners p {
    font-size: 0.5rem;
    margin: 0;
    margin-top: -1rem;
  }
  .servicos .about-servicos {
    font-size: 0.8rem;
  }
  .sobre-mim {
    justify-content: space-between;
  }
  .sobre-mim h1 {
    text-align: center;
  }
  .sobre-mim .sobre-mim-inner {
    padding-bottom: 2rem;
  }
  .sobre-mim .sobre-mim-inner .left {
    width: 100%;
  }
  .sobre-mim .sobre-mim-inner .left .sobre-mim-text {
    font-size: 0.8rem;
    width: 100%;
  }
  .sobre-mim .sobre-mim-inner .left .content {
    margin: 1rem auto 0 auto;
  }
  .sobre-mim .sobre-mim-inner .right {
    display: none;
  }
  .artigos .banners-artigos img {
    margin-bottom: -4rem;
  }
  .artigos .banners-artigos h2 {
    font-size: 2rem;
  }
  .artigos .banners-artigos p {
    font-size: 0.8rem;
  }
  .artigos .ver-todos p {
    font-size: 1rem;
  }
}
@media screen and (min-width: 500px) and (max-width: 900px) {
  .hero .left img {
    width: 15rem;
  }
  .hero .right img {
    width: 5rem;
  }
  .hero .right h1 {
    font-size: 3rem;
  }
  .hero .right p {
    font-size: 0.8rem;
  }
  .servicos .banners h2 {
    margin-top: 2.5rem;
    margin-bottom: 0;
    font-size: 2.5rem;
  }
  .servicos .banners p {
    font-size: 0.8rem;
  }
}/*# sourceMappingURL=Home.css.map */