@import url('https://fonts.googleapis.com/css?family=Gotu');
@import url('https://fonts.googleapis.com/css?family=Inter');
@import url('https://fonts.googleapis.com/css?family=Dancing Script');

@font-face {
    font-family: "Gangitem";
    src: url("./assets/gangitem/Gangitem.ttf") format('truetype'), url("./assets/gangitem/Gangitem.otf") format('opentype');
    
}
@font-face {
    font-family: 'GeosansLight';
    src: url('./assets/geo_sans_light/GeosansLight.ttf') format('truetype');
}

body{
    font-family: 'Gangitem';
}